@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "YouTube-Sans";
	src: url("/font/YouTubeSansDarkSemibold.otf") format("opentype");
}

@font-face {
	font-family: "Interstate";
	src: url("/font/InterstateMonoRegular.otf") format("opentype");
}

html,
body {
	font-family: "YouTube-Sans";
}
